<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPFAndSQL.Properties.Settings.PracticeConnectionString"
            connectionString="Data Source=LAPTOP-66MUC5KN;Initial Catalog=Practice;Persist Security Info=True;User ID=sa;Password=password901"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>